* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #e6e6e6;
}

/*
**** Formatação menu
*/

a {
    text-decoration: none;
    padding: 8px 12px;
}

a:link, a:visited{
    color: #e6e6e6;
}

a:hover{
    color:darkorange;
}